type tmp_root_mount_file, file_type;
type dsp_file, contextmount_type, file_type;
type firmware_file, contextmount_type, file_type;
type persist_file, contextmount_type, file_type;